body {
    background-color: aqua;
    /* background-image: url(images/black_glow.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */

}

h5 {
    color: chocolate;
}

.test {
    color: darkblue;
}

#testing-para-1 {
    font-size: 30px;
}

.font-apply {
    font-size: 25px;
    font-weight: 450;
    font-family: cursive;
    font-style: italic;
}

.transformation-apply {
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
    text-transform: none;
}

.decoration-apply {
    /* text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through; */
    text-decoration: none;
}

.apply-to-atag {
    text-decoration: none;
    color: rgb(2, 2, 49);
}

.apply-to-all-ftd {
    font-size: 30px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: underline;
    color: darkgoldenrod;
    background-color: antiquewhite;
}

.play-with-letter {
    letter-spacing: 50px;
    line-height: 100px;
    word-spacing: 100px;
    text-align: center;
}

.change-g {
    font-size: 50px;
    color: rgb(220, 57, 20);
    text-transform: uppercase;
}

ul {
    list-style-type: decimal-leading-zero;
    /* list-style-image: url(images/tick_image.png); */
    list-style-position: inside;
}

div.b-color {
    background-color: rgb(255, 0, 251);
}

div.first {
    opacity: 0.1;
}

div.second {
    opacity: 0.3;
}

div.third {
    opacity: 0.6;
}

.border-prop {
    border-style: solid;
    border-width: 5px;
    border-color: darkgreen;
    border-radius: 30px;
    /* border: solid red 6px; */
}

.padding-margin {
    border: 3px solid black;
    /* margin: 50px; */
    /* margin-top: 50px; */
    /* margin-bottom: 60px; */
    /* margin-left: 90px; */
    /* margin-right: 80px; */
    /* margin apply to all side l r t b */
    /* margin: 10px 20px 30px 40px; */
    /* t    r    b    l */
    margin: 20px 50px;
    /* tb   lr */

    /* padding: 40px;
    padding-top: 50px;  */
    /* padding-bottom: 60px; */
    /* padding-left: 90px; */
    /* padding-right: 80px; */
    /* padding apply to all side l r t b */
    /* padding: 10px 20px 30px 40px; */
    /* t    r    b    l */
    padding: 20px 50px;
    /* tb   lr */
}

.button {
    background-color: blueviolet;
    color: rgb(255, 72, 0);
    font-size: 50px;
    margin: 20px;
    /* padding: 30px; */
    size: 20px;
}

.contact-form {
    background-color: white;
    width: 450px;
    margin: 0px 300px;
    padding: 15px;
}

.form-label {
    font-family: sans-serif;
    font-size: 15px;
    color: red;

}

.user-details {
    width: 430px;
    /* padding: 5px; */
    margin-bottom: 10px;
    vertical-align: top;

}

#fmessage {
    /* height: 100; */
    /* margin-bottom: 50PX; */
    padding-bottom: 100px;
}


.sub-button {
    text-align: center;
    color: white;
    background-color: rgb(8, 114, 123);
    border: none;
    width: 430PX;
    height: 40PX;
    font-size: 20PX;
}

/* .im {
    width: 250px;
    height: 350px;
    float: right;
} */
/* 
.apply-pos {
    position: absolute;
    bottom: 50%;
    top: 100px;
    right: 50px;
    bottom: 0%;
} */

.grid {
    display: grid;
    /* display: inline-grid; */
    grid-template-columns: 70px 70px 70px 70px 70px;
    grid-template-rows: auto;
    grid-column-gap: auto;
    background-color: rgba(255, 255, 255, 0.819);
    padding: 0px;
    text-align: center;
    position: fixed;
    top: 50px;
    width: 100%;
    /* opacity: 0.4; */
}


.tick {
    width: 50px;
    height: 50px;

}

.image {
    position: relative;
    /* grid-column-gap: 50px; */
    left: 10px;

}


.container {
    /* background-color: darkgoldenrod; */
    text-align: center;
    /* border: 10px solid rgb(0, 72, 255); */
    padding: 8px;
    color: black;
}

.flex-container {
    height: 200px;
    background-color: darkblue;
    display: flex;
    /* justify-content: center; */
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: baseline; */
    /* flex-direction: column; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
}


.flex-item {
    background-color: blueviolet;
    color: yellow;
    border: 3px solid rgb(8, 114, 123);
    padding: 20px;
    margin: 20px;
    text-align: center;
}