body

{
    background-color: aqua;
    /* background-image: url(images/black_glow.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    
}

h5{
    color: chocolate;
}

.test{
    color: darkblue;
}

#testing-para-1{
    font-size: 30px;
}

.font-apply{
    font-size: 25px;
    font-weight: 450;
    font-family: cursive;
    font-style: italic;
}

.transformation-apply{
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
    text-transform: none;
}

.decoration-apply{
    /* text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through; */
    text-decoration: none;
}

.apply-to-atag{
    text-decoration: none;
    color: rgb(2, 2, 49);
}

.apply-to-all-ftd{
    font-size: 30px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: underline;
    color: darkgoldenrod;
    background-color: antiquewhite;
}

.play-with-letter{
    letter-spacing: 50px;
    line-height: 100px;
    word-spacing: 100px;
    text-align: center;
}

.change-g{
    font-size: 50px;
    color: rgb(220, 57, 20);
    text-transform: uppercase;
}

ul{
    list-style-type: decimal-leading-zero;
    /* list-style-image: url(images/tick_image.png); */
    list-style-position: inside;
}

div.b-color{
    background-color: rgb(255, 0, 251);
}
div.first{
    opacity: 0.1;
}
div.second{
    opacity: 0.3;
}
div.third{
    opacity: 0.6;
}

.border-prop{
    border-style: solid;
    border-width: 5px;
    border-color: darkgreen;
    border-radius: 30px;
    /* border: solid red 6px; */
}
.padding-margin{
    border: 3px solid black;
    /* margin: 50px; */
    /* margin-top: 50px; */
    /* margin-bottom: 60px; */
    /* margin-left: 90px; */
    /* margin-right: 80px; */
    /* margin apply to all side l r t b */
    /* margin: 10px 20px 30px 40px; */
            /* t    r    b    l */
    margin: 20px 50px;
            /* tb   lr */

    /* padding: 40px;
    padding-top: 50px;  */
    /* padding-bottom: 60px; */
    /* padding-left: 90px; */
    /* padding-right: 80px; */
    /* padding apply to all side l r t b */
    /* padding: 10px 20px 30px 40px; */
            /* t    r    b    l */
    padding: 20px 50px;
            /* tb   lr */
}

.button{
    background-color: blueviolet;
    color: rgb(255, 72, 0);
    font-size: 50px;
    margin: 20px;
    /* padding: 30px; */
    size: 20px;
}

.contact-form{
    background-color: white;
    width: 450px;
    margin: 0px 300px;
    padding: 15px;
}

.form-label{
    font-family: sans-serif;
    font-size: 15px;
    color: red;
    
}

.user-details{
    width: 430px;
    /* padding: 5px; */
    margin-bottom: 10px;
    vertical-align: top;
    
}

#fmessage{
    /* height: 100; */
    /* margin-bottom: 50PX; */
    padding-bottom: 100px;
}
    

.sub-button{
    text-align: center;
    color: white;
    background-color: rgb(8, 114, 123);
    border: none;
    width: 430PX;
    height: 40PX;
    font-size: 20PX;
}

.banner-img{
    width: 250px;
    height: 250px;
    /* float: left;  */
    /* float: right; */
}

.apply-position{
    /* position:fixed;
    position: absolute; */
    /* top:150px; */
    bottom: 200px;
    left: 20px;
    right: 30px;
}

.grid-container{
    display: grid;
    display: inline-grid;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    grid-template-columns: 60px 20px 20px 30px;
    grid-template-rows: 80px 100px;
    background-color: rgb(165, 42, 140);
}

.grid-item{
    background-color: crimson;
    border: 5px solid rgb(144, 0, 255);
    text-align: center;
}

.container{
    display: grid;
    /* display: inline-grid; */
    grid-template-columns: auto auto;
    background-color: blueviolet;
    grid-column-gap: 30px;
    padding: 20px;
}

.para{
    background-color: chartreuse;
    border: 15px solid rgb(8, 114, 123);
    border-radius: 20px;
    border-style: double;
    font-size: 30px;
    padding: 6px;
}

.data{
    display: grid;
    display: inline-grid;
    grid-template-columns: 20px 20px;
    grid-template-rows: auto auto auto auto auto auto;
    grid-gap: 30px 90px;
    background-color: white;
    margin: 20px;
    padding: 30px;
    padding-bottom: 0px;
}
